# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Build artifacts
build/
dist/
wheels/
**/*.egg-info/

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Local temp
temp/

# Dados reais do projeto
data/**

# Mantém apenas a estrutura das pastas, se desejar
!data/.gitkeep
!data/**/.gitkeep

# BI local
bi/**

# Mantém a estrutura, se desejar
!bi/.gitkeep
!bi/**/.gitkeep